* {
  font-family: 'Bitter', serif;
}

label {
  display: block;
  margin-top: 10px;
}

/* THE CARD BELOW IS FOR THE PROFILE SAVED JOBS */
.card-container.card {
  max-width: 350px !important;
  padding: 1vw 1vw;
  /* background-color: #3988d3c5; */
}

.card {
  background-color: #bef5e9c5;
  padding: 1vw 1vw 1vw;
  margin: 0 auto 0.1vw;
  margin-top: 1vw;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgb(54, 53, 53);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#card:hover {
  /* background-color: white;
  border:2px solid royalblue;
  background: rgba(0,0,0,0);
	color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999; */
  /* -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25); */
  color: #3a7999;
}

.profile-img-card {
  margin-top: 2vw;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  /* -moz-border-radius: 50%;
  -webkit-border-radius: 50%; */
  /* border-radius: 50%; */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.profile-img-card:hover {
  opacity: 50%;
}

/* PIE CHART CODE */
#pie {
  font-size: 0.5vw;
  /* font-family: 'Roboto', sans-serif; */
  display: flex;
  flex-direction: column;
  /* border:2px solid red; */
  width: 30%;
  font-weight: 500;
}

#bigPie {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* border:2px solid red; */
  width: 30%;
  padding-left: 5vw;
  margin-left: 3vw;
}

#pie2 {
  font-size: 0.5vw;
  /* font-family: 'Roboto', sans-serif; */
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 2vw;
}

/* HEADER FOR THE PIE CHARTS */
#applied {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 1.5vw;
  width: 250%;
  /* border:2px solid yellow; */
  text-align: center;
}

#savedJobs {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 2.5vw;
  text-align: center;
  width: 90%;
  text-decoration: underline rgb(210, 247, 240);
  text-decoration-skip-ink: auto;
  padding-bottom: 2vw;
}

#heardBack {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 1.5vw;
  text-align: center;
  width: 280%;
  /* border:2px solid red; */
}

#stats {
  text-decoration: underline rgb(50, 150, 150);
  text-decoration-skip-ink: auto;
  width: 300%;
  /* margin-bottom:2.2vw; */
  padding-bottom: 2vw;

  text-align: center;
  font-size: 2.5vw;
}

#card {
  font-size: 0.9vw;
  width: 90%;
  margin-top: 0px;
  /* background-color: rgb(64, 190, 240); */
  border-radius: 10%;
}

#card1 {
  width: 50%;
  height: 50%;
}

ul {
  padding-left: 0px;
}

/* THIS IS THE CONTAINER FOR JUST THE SAVED JOBS */
#jobList {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  /* height: 45vw;
  width: 30%; */
  overflow: scroll;
}

#bigJobList {
  width: 30%;
  height: 45vw;
  display: flex;
  flex-direction: column;
}

/* CONTAINER FOR THE SAVED JOB AND PIE CHART  */
#container {
  display: flex;
  width: 100%;
  justify-content: center;
  /* border:2px solid yellow; */
  align-items: flex-start;
}

#user {
  /* font-family: 'Roboto', sans-serif; */
  text-align: center;
}

.btncontainer {
  display: flex;
  flex-direction: row;
}

#userHome {
  /* font-family: 'Roboto', sans-serif; */
  text-align: center;
  /* border-bottom: 2px solid white; */
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 2.5vw;
}

#home {
  /* display:flex; */
  margin-top: 10%;
  width: 50%;
  /* align-self: center; */
}

/* #homeBigDiv{
  border:2px solid blue;
  display:flex;
  justify-content:  center;
  margin-top:6vw;
} */

#logo {
  height: 9vw;
  margin-bottom: -2.5vw;
  margin-top: -2.5vw;
}

.jumbotron {
  background-color: white;
}

.saved-contacts {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  height: 60vw;
  width: 60%;
  overflow: scroll;
}

#progress {
  width: 30%;
  /* border:2px solid red; */
}

#goalChart {
  text-align: center;

  font-size: 2.5vw;
  /* font-family: 'Roboto', sans-serif; */
  padding-bottom: 2vw;
  width: 100%;
  margin-left: 3vw;
  text-decoration: underline rgb(31, 83, 83);
  text-decoration-skip-ink: auto;
}

#goalTextDiv {
  /* border:2px solid red; */
  font-size: 1vw;
  display: flex;
  justify-content: center;
}

#userSavedJob {
  text-align: center;
  text-decoration: underline teal;
  /* font-family: 'Roboto', sans-serif; */
}

.categories {
  font-size: 2vw;
  text-align: center;
}

#test {
  width: 100%;
  border: 3px solid red;
  height: 100%;
  /* display:flex; */
  /* justify-content: flex-start; */
}

/* #miniTest{
  border:3px solid blue;
  width:50%;

} */

#appTextDiv {
  padding-top: 5vw;
  text-align: center;
  font-size: 1vw;
  /* border:2px solid red; */
}

#goalTextDiv {
  padding-left: 3vw;
  text-align: center;
  /* border:2px solid blue; */
  /* display:flex;
  justify-content: space-between; */
}

#goalText {
  text-align: center;
}

.plus {
  background-color: teal;
  color: white;
  width: 15%;
  height: 50%;
}

.plus:hover {
  background-color: gray;
  color: white;
  font-size: 1vw;
}
.minus {
  background-color: white;
  color: teal;
  width: 15%;
  height: 50%;
}

.minus:hover {
  background-color: gray;
  color: white;
}

#goals {
  padding-left: 3vw;
}

#author {
  padding-left: 65%;
}

#bigboy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toDo {
  font-weight: 700;
  font-size: 2vw;
}

#remove {
  color: red;
  background-color: transparent;
  border: 0px;
  text-decoration-color: transparent;
}

#remove:hover {
  text-decoration: underline #8decd8;
}

#toDoList {
  /* border:2px solid red; */
  width: 3%;
  height: 15%;
  margin-bottom: 5px;
}

#bigToDo {
  /* border:2px solid blue; */
  text-align: flex-start;
  /* background-color: teal; */
}

#mediumToDo {
  margin-top: -25px;
  /* border:2px solid green; */
  display: flex;
  justify-content: flex-end;
  text-align: flex-start;
}

/* NEW NEW CODE */

#h2 {
  padding: 16px;
  margin: 0;
  font-weight: 700;
}

/* crops animations that exceeds one line area */
.line {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  /* border: 1px solid black; */
  padding: 0;
  margin-bottom: 16px;
}

/* flipping class and key frames*/
.flipX {
  animation: 1s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

.list-group {
  color: black;
  border: 1px solid rgb(4, 75, 75);
  /* background-color: rgb(99, 177, 177); */
  background-color: rgba(112, 233, 187, 0.134);
  width: 100%;
}

#links {
  /* border:2px solid red; */
  font-size: 2vw;
  display: flex;
  justify-content: center;
  color: white;
}

#todo-btn {
  background-color: white;
  color: teal;
  width: 20%;
  margin-left: 42%;
  font-weight: 700;
  border: 1px solid teal;
}

#todos {
  display: flex;
  justify-content: center;
  width: 100%;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: teal;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
#glow {
  height: 5vw;
  /* margin-left:10%; */
  font-size: 1.7rem;
  color: lightblue;
  text-shadow: 5px 5px 30px blue;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  animation-name: repeat;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  font-weight: lighter;
  /* border:2px solid red; */
  text-align: center;
}

@keyframes repeat {
  0% {
    color: rgb(87, 135, 151);
    text-shadow: 5px 5px 30px lightblue;
  }
  20% {
    color: #579cbd;
    text-shadow: 5px 5px 30px #31ada3;
  }
  40% {
    color: #4b9fd3;
    text-shadow: 5px 5px 30px #417777;
  }
  60% {
    color: #75c7f7;
    text-shadow: 5px 5px 30px #4dada9;
  }
  80% {
    color: #24404b;
    text-shadow: 5px 5px 30px #5195aa;
  }
  100% {
    color: lightblue;
    text-shadow: 5px 5px 30px lightblue;
  }
}

.btn.btn-primary.btn-block {
  color: black;
  background-color: rgba(48, 136, 139, 0.3);
  border: 1px solid transparent;
  font-weight: 500;
  width: 50%;
  margin-left: 25%;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: teal;
}
.navbar,
.navbar-default {
  background-image: linear-gradient(
    to right,
    #00e4c95a 0,
    #0d263c 100%
  ) !important; /* override background image gradient w/ flat color */
}
.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  z-index: -1;
}

#fakePie {
  margin-left: -6.5vw;
}

#fakePieDiv {
  width: 100%;
}

#fake-pie-text {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-left: -6.5vw;
  text-align: center;
}

#stats2 {
  text-decoration: underline rgb(50, 150, 150);
  text-decoration-skip-ink: auto;
  width: 100%;
  /* margin-bottom:2.2vw; */
  padding-bottom: 2vw;
  text-align: center;
  font-size: 2.5vw;
  margin-left: -4vw;
}

.newsImg {
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 300px;
}
.newsCard {
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 320px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.glow-on-hover {
  margin-top: 5px;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(0, 177, 205);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #03ffbb,
    #03c5ff,
    #0347ff,
    #48ff00,
    #00ffd5,
    #002bff,
    #00ffae,
    #0040ff,
    #75ffa5
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(0, 177, 205);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 177, 205);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
