.contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.saved-contacts {
    width: 100%;

}

.network-card {
    width: 45%;
    margin-bottom: 3em;
    
}

.contact-btn {
    display: flex;
    justify-content: space-evenly;
}

.btn-flat {
    background-color: teal;
    color: white;
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .form {
      width: 50%;
      
  }

  